.headerContainer{
    width: 60%;
}

.topHeader{

    background-color: rgb(10, 7, 7);
    height: 90px;
    padding-top: 10px;
}

.blogTitle{
	font-family: Verdana,Geneva,sans-serif; 
    font-size: 3em;

    color: white;
}

.searchCol{
    text-align: end;
    padding-top: 2%;
    color: white;
}

.iconCol{
    padding-top: 2%;
    color: white;
}
.searchP{
    margin-right: 6px;
    font-family: 'Times New Roman', Times, serif;

}
.titleHeader{
    padding-top: 10%

}
.Xicons{
    font-size: 30px; margin-right: 20px
}

.headerLine{
    width: 60%;
    margin-left: 20%;
}
input:checked + .slider {
    background-color:b;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }    
  input:checked + .slider {
    background-color:black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
@media screen and (min-width:1025px) and (max-width:1280px) {
  
}
@media screen and (max-width:500px) {
    .iconCol{
        display: none;
    }
    #searchSpan{

        font-size: x-small;
    }
    .searchCol{
        padding-top: 4%
    }
    .searchP{
        display: none;
        
    }
    .topHeader{
        max-width: 420px;

      
    }

    .headerContainer{
       margin-left: 100px;

    }

   

}